body {
  font-family: Open Sans, sans-serif;
  font-weight: 300;
  font-size: 16px;
  background-color: #F7F9FC;
  color: #0D1B4C;
  line-height: 30px;
  text-align: center;
}

h1, h2, h3{
  font-family: Open Sans, sans-serif;
  color: #3F6699;
}

h1{
  font-size: 28px;
}

h2{
  font-size: 20px;
}

h3{
  font-size: 20px;
  color: #F3ECC8 ;
}

p {
  font-size: 16px;
  line-height: 25px;
}

a {
  font-size: 16px;
  font-weight: 500;
  line-height: 10px;
  color: #ffffff ;
  text-decoration: none;
  background-color: #3F6699;
  padding: 10px;
  border-radius: 6px;
}

a:hover{
  color: #F3ECC8 ;
  background-color: #0D1B4C;
}

li{
  color: #F3ECC8 ;
  font-size: 30px;
}

.container {
  width: 500px;   /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */
}

.card-white {
  margin: 20px;
  padding: 10px;
  background-color: white ;
  border: 1px solid lightgrey;
  border-radius: 5px ;
  box-shadow: 1px 5px 4px rgba(0, 0, 0, 0.1);
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  font-size: 30px;
  list-style: none;
  padding-left: 0px;
}

.button-square {
  font-size: 30px;
  line-height: 10px;
  color: #ffffff ;
  text-decoration: none;
  background-color: #3F6699;
  padding: 10px;
  border-radius: 6px;
}

#introduction {
  padding: 30px
}

#profile-pic {
  border-radius: 50%;
}

#follow-me {
  background-color: #3F6699;
  padding: 0px
}


@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
